<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Uracadex</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dashboard.css" rel="stylesheet">
</head>

<body>
    @Html.Partial("_NavBarPartial")
    <div class="container-fluid">
        <div class="row">
            @Html.Partial("_SideBarPartial")
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

                <!-- BODY -->
                @RenderBody()
            </main>


        </div>
    </div>

    <hr />

    <!-- FOOTER -->
    <footer class="text-center">
        <p class="float-right"><a href="#top">Back to top</a></p>
        <p>&copy; @DateTime.Now.Year Copyright Uracadex (Universal Research & Academic Exchange). All Rights Reserved. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        <p>Uracadex.com is the world’s first and largest free research and development support online platform for students.</p>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/scripts/jquery-slim.min.js"><\/script>')</script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>feather.replace()</script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                    data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });</script>

</body>
</html>
